*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html,
body {
  height: 100%; }

body {
  box-sizing: border-box;
  /* 62%=10px=1rem */
  font-size: 62.5%;
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
  background-color: white; }

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%; }

input,
button,
textarea,
select {
  font: inherit; }

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word; }

.container {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 2rem 5rem; }

.wrapper {
  display: block;
  width: 430px;
  height: 430px;
  background-color: white;
  padding: 3px;
  border-radius: 0.3rem;
  box-shadow: 1px 2px 10px 0px rgba(0, 0, 0, 0.3);
  margin: 2rem;
  overflow: hidden; }

.card {
  margin: auto;
  position: relative;
  display: flex;
  flex-direction: row;
  width: 80%;
  height: 75%;
  background-color: white;
  border-radius: 0.3rem;
  box-shadow: 1px 2px 10px 0px rgba(0, 0, 0, 0.3); }
  .card_vertical {
    height: 68%;
    width: 58%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start; }
    .card_vertical__header {
      margin: 1.5rem;
      text-align: center; }
    .card_vertical__body {
      border-top: 1px solid #cad6e0;
      width: 70%;
      height: 100%;
      padding-top: 1.5rem;
      padding-bottom: 2.5rem;
      display: flex;
      flex-direction: column;
      justify-content: space-between; }
  .card_small {
    transition: all 1s ease;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 60%;
    height: auto;
    background-color: white;
    border-radius: 0.15rem;
    box-shadow: 1px 10px 20px 0px rgba(0, 0, 0, 0.2);
    overflow: hidden; }
    .card_small__corner {
      position: absolute;
      top: 0;
      right: 0;
      width: 0;
      height: 0;
      border-top: 2.5rem solid #8391a1;
      border-left: 2.5rem solid transparent; }
    .card_small__num {
      z-index: 99;
      padding: 0.2rem 0.5rem;
      margin-left: auto;
      color: white;
      font-size: 0.8rem;
      font-weight: 500; }
  .card_column {
    flex-direction: column; }
  .card__left {
    display: flex;
    flex-direction: column;
    width: 65%;
    height: 100%;
    align-items: center;
    justify-content: center; }
  .card__right {
    border-top-right-radius: 0.3rem;
    border-bottom-right-radius: 0.3rem;
    width: 35%;
    background-color: #f3e8e0; }
  .card__header {
    width: 100%;
    height: 20%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 0.3rem 1.5rem;
    background-color: #5f98cd;
    border-radius: 0.3rem 0.3rem 0 0; }
  .card_blue {
    position: absolute;
    flex-direction: column;
    width: 15rem;
    height: 17rem;
    background-color: #4a627b;
    border-radius: 0.3rem;
    box-shadow: 12px 10px 10px 0px rgba(0, 0, 0, 0.2);
    z-index: 4;
    top: 4rem;
    margin-left: 2.5rem; }

.header_blue_big {
  color: #52707f;
  font-size: 1.2rem;
  font-weight: 600;
  text-transform: capitalize; }

.header_blue_medium {
  color: #52707f;
  font-size: 0.7rem;
  font-weight: 400;
  text-transform: capitalize; }

.header_white {
  text-transform: uppercase;
  line-height: 3rem;
  color: white; }
  .header_white_big {
    padding-left: 1rem;
    font-size: 4rem;
    letter-spacing: 0.4rem; }
  .header_white_big2 {
    font-size: 1.4rem;
    line-height: normal; }
  .header_white_big3 {
    font-size: 1.4rem;
    font-weight: 400;
    line-height: 1.5rem; }
  .header_white_medium {
    padding-left: 0.5rem;
    font-size: 1.4rem;
    font-weight: 100; }
  .header_white_medium2 {
    font-size: 1rem;
    font-weight: 100;
    line-height: 0.9rem; }
  .header_white_smaller {
    font-size: 1rem; }
  .header_white_small {
    font-size: 1rem;
    text-transform: capitalize;
    font-weight: 500; }
  .header_white_name {
    text-transform: capitalize;
    z-index: 99;
    font-family: "Open Sans", sans-serif;
    color: white;
    font-size: 1rem;
    font-weight: 600;
    place-self: center; }

.header_progress_mint {
  color: #ebebeb;
  opacity: 0.5;
  font-size: 1rem;
  font-weight: 400;
  line-height: normal; }

.header_dark-gray {
  color: #666666;
  font-size: 0.8rem;
  font-weight: 600;
  text-transform: capitalize; }
  .header_dark-gray_light {
    font-weight: 400;
    font-size: 0.8rem;
    color: #666666; }

.header_darkest-gray {
  color: #646f7d;
  font-size: 1rem;
  font-weight: 600;
  text-transform: capitalize; }

.header_brown {
  color: #756553;
  text-transform: capitalize; }
  .header_brown_medium {
    font-weight: 700;
    font-size: 1.2rem; }
  .header_brown_small {
    font-weight: 700;
    font-size: 1rem; }
  .header_brown_mini {
    font-size: 0.8rem;
    font-weight: 300; }

.header_blue {
  color: #5f98cd;
  text-transform: capitalize;
  font-size: 0.8rem;
  font-weight: 500; }

.nav {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  height: 100%; }
  .nav__row {
    width: 100%;
    height: 2.5rem;
    list-style: none;
    padding-left: 1rem;
    cursor: pointer;
    display: flex;
    align-items: center;
    transition: all 200ms ease-in; }
    .nav__row:hover {
      background-color: #264057; }
    .nav__row__square {
      position: relative;
      display: inline-block;
      width: 0.6rem;
      height: 0.6rem;
      background-color: transparent;
      border: 2px solid #5f98cd;
      margin-right: 1rem; }

.btn__container {
  margin-top: 1.4rem; }

.btn_brown {
  background-color: white;
  color: #756553;
  border: 1px solid #756553;
  border-radius: 1rem;
  padding: 0.2rem 1.8rem;
  font-size: 0.8rem;
  font-weight: 700;
  margin: 0.3rem 2rem;
  width: 9rem; }
  .btn_brown:hover {
    background-color: #756553;
    color: white; }

.btn_add {
  display: block;
  background-color: #ec6565;
  width: 6rem;
  height: 6rem;
  border-radius: 50%;
  color: white;
  font-size: 3rem;
  text-align: center;
  border: none;
  box-shadow: 1px 2px 10px 0px rgba(0, 0, 0, 0.3);
  cursor: pointer; }

.btn__exit {
  display: block;
  background-color: #ec6565;
  width: 3.3rem;
  height: 3.3rem;
  padding: 0.1rem;
  border-radius: 50%;
  color: white;
  font-size: 1.9rem;
  text-align: center;
  border: none;
  cursor: pointer;
  transition: all 400ms ease; }
  .btn__exit:hover {
    background-color: white;
    color: #ec6565; }

.btn_blue {
  transition: all 500ms ease;
  width: 100%;
  height: 2.4rem;
  padding: 0.2rem;
  border: none;
  background-color: #59a7f4;
  cursor: pointer;
  color: white;
  font-size: 0.8rem;
  font-weight: 500;
  margin-top: auto; }
  .btn_blue:hover {
    transition: all 500ms ease;
    background-color: #3a85d0; }

.photo__wrapper {
  width: 100%;
  height: 100%;
  display: flex;
  flex-wrap: wrap; }
  .photo__wrapper__box {
    transition: all 500ms ease;
    cursor: pointer;
    position: relative;
    flex-basis: 50%;
    border: 0.1rem solid white; }
    .photo__wrapper__box:hover img {
      transition: all 600ms ease;
      filter: brightness(50%); }
    .photo__wrapper__box:hover div {
      opacity: 1;
      transition: all 500ms ease-in-out;
      transform: scale(0.5); }
    .photo__wrapper__box__overlay {
      transition: all 600ms ease;
      opacity: 0;
      position: absolute;
      display: grid;
      place-items: center;
      width: 100%;
      height: 100%;
      z-index: 99; }

.photo_square {
  width: 100%;
  height: 100%;
  object-fit: cover;
  backface-visibility: hidden;
  z-index: 4; }

.photo_circle {
  z-index: 99;
  border-style: solid;
  border-width: 1px;
  padding: 2px;
  border-color: #756553 #756553 #756553 white;
  border-radius: 50%;
  margin-bottom: 1rem; }
  .photo_circle_background {
    position: absolute;
    z-index: 2;
    top: 2.67rem;
    width: 4.8rem;
    height: 4.8rem;
    border-radius: 50%;
    background-color: white;
    border-style: solid;
    border-width: 1px;
    border-color: #756553 white #756553 #756553; }

.checkbox input {
  cursor: pointer;
  position: absolute;
  right: 1.5rem;
  opacity: 0;
  height: 1rem;
  width: 1rem; }

.checkbox__checkmark {
  display: inline-block;
  height: 1.1rem;
  width: 1.1rem;
  background-color: #5f98cd;
  border: 2.7px solid #b2daff; }

.checkbox:hover input ~ .checkbox__checkmark {
  transition: all 200ms;
  border: 2.7px solid white; }

.checkbox:has(input:checked) ~ label {
  transition: all 200ms ease-in;
  left: 2.8rem;
  opacity: 0; }

.search-bar {
  position: relative;
  z-index: 99;
  width: 16rem;
  border-radius: 3rem;
  background-color: white;
  border: none;
  outline: none;
  padding: 0.3rem 1rem 0.3rem 1rem;
  color: #666666;
  font-size: 0.8rem; }
  .search-bar__label {
    transition: all 200ms ease-in;
    position: absolute;
    opacity: 1;
    top: 0.9rem;
    left: 1rem; }

.text_white {
  color: white;
  font-size: 1.4rem;
  font-weight: 400;
  line-height: 2.2rem; }

.text_gray {
  color: #8391a1;
  font-size: 0.8rem;
  font-weight: 400;
  padding: 0.5rem 2rem 1.3rem 2rem;
  text-align: center; }

.hidden {
  display: none; }

.shift {
  transition: all 500ms ease-in-out;
  transform: translateX(10rem); }

.challenge-1 {
  font-family: "Calistoga", cursive;
  background: #423d99;
  background: linear-gradient(36deg, #423d99 0%, #6fc2c8 85%);
  border-radius: 0.3rem;
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  position: relative;
  justify-content: center;
  align-items: center; }

.number-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-bottom: 1rem; }
  .number-container__one {
    z-index: 99;
    display: block;
    width: 1.7rem;
    height: 6rem;
    background-color: white;
    box-shadow: 1px 2px 10px 0px rgba(0, 0, 0, 0.3);
    border-radius: 0.15rem; }
    .number-container__one:nth-child(1) {
      transform: rotate(48deg);
      height: 3rem;
      width: 1.5rem;
      margin-right: -0.4rem; }
  .number-container__zero {
    display: block;
    width: 6rem;
    height: 6rem;
    border-radius: 3rem;
    background-color: rgba(255, 255, 255, 0);
    border: 1.6rem solid white;
    box-shadow: 1px 2px 10px 0px rgba(0, 0, 0, 0.3);
    margin-left: -1.1rem;
    z-index: 55; }
    .number-container__zero_second {
      z-index: 5; }

.challenge-2 {
  position: relative;
  background: #60ad85;
  border-radius: 0.3rem;
  height: 100%;
  width: 100%;
  display: grid;
  place-content: center; }

.menu-burger {
  cursor: pointer; }
  .menu-burger__2 {
    position: relative;
    top: -0.3rem; }
    .menu-burger__2:hover {
      background-color: white; }
    .menu-burger__2:hover::before, .menu-burger__2:hover::after {
      background-color: white; }
    .menu-burger__2, .menu-burger__2::before, .menu-burger__2::after {
      cursor: pointer;
      background-color: #b2daff;
      height: 0.22rem;
      width: 1.5rem;
      border-radius: 0.3rem; }
    .menu-burger__2::before, .menu-burger__2::after {
      content: '';
      position: absolute;
      left: 0; }
    .menu-burger__2::before {
      width: 0.4rem;
      height: 0.4rem;
      top: -0.1rem;
      left: 1.7rem; }
    .menu-burger__2::after {
      top: 0.7rem;
      width: 2.1rem; }
  .menu-burger__3__checkbox {
    display: none; }
  .menu-burger__3__lines {
    position: relative;
    cursor: pointer; }
    .menu-burger__3__lines, .menu-burger__3__lines::before, .menu-burger__3__lines::after {
      background-color: white;
      height: 0.5rem;
      width: 5rem;
      border-radius: 0.3rem;
      box-shadow: 1px 2px 10px 0px rgba(0, 0, 0, 0.3);
      display: inline-block; }
    .menu-burger__3__lines::before, .menu-burger__3__lines::after {
      content: '';
      position: absolute;
      left: 0; }
    .menu-burger__3__lines::before {
      top: -1.4rem; }
    .menu-burger__3__lines::after {
      top: 1.4rem; }
  .menu-burger__3__checkbox:checked + .menu-burger__3__button .menu-burger__3__lines {
    transition-property: background-color, box-shadow;
    transition-duration: 300ms;
    background-color: transparent;
    box-shadow: none; }
  .menu-burger__3__checkbox:checked + .menu-burger__3__button .menu-burger__3__lines:before {
    transition: top 300ms ease-in-out, transform 300ms ease-in 400ms;
    top: 0;
    transform: rotate(45deg); }
  .menu-burger__3__checkbox:checked + .menu-burger__3__button .menu-burger__3__lines:after {
    transition: top 300ms ease-in-out, transform 300ms ease-in 400ms;
    top: 0;
    transform: rotate(135deg); }
  .menu-burger__3__checkbox:not(:checked) + .menu-burger__3__button .menu-burger__3__lines {
    transition: background-color 400ms ease-in 200ms, box-shadow 400ms ease-in 200ms;
    background-color: white;
    box-shadow: 1px 2px 10px 0px rgba(0, 0, 0, 0.3); }
  .menu-burger__3__checkbox:not(:checked) + .menu-burger__3__button .menu-burger__3__lines:before {
    transition: transform 300ms ease-in, top 300ms ease-in-out 300ms;
    transform: rotate(0);
    top: -1.4rem; }
  .menu-burger__3__checkbox:not(:checked) + .menu-burger__3__button .menu-burger__3__lines::after {
    transition: transform 300ms ease-in, top 300ms ease-in-out 300ms;
    transform: rotate(0);
    top: 1.4rem; }

.challenge-3 {
  font-family: "Open Sans", sans-serif;
  background: #e6be77;
  background: linear-gradient(36deg, #e6be77 0%, #c18157 85%);
  border-radius: 0.3rem;
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column; }

.block_brown {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 33.33%;
  border-bottom: 1px solid white; }
  .block_brown:nth-child(3) {
    border: none; }
  .block_brown:hover {
    transition: 300ms ease-in;
    background-color: rgba(145, 124, 101, 0.241); }

.challenge-4 {
  position: relative;
  font-family: "Open Sans", sans-serif;
  background-color: #264057;
  border-radius: 0.3rem;
  height: 100%;
  width: 100%;
  display: flex; }

.notifications {
  position: relative;
  padding: 1.5rem 1.5rem 0 1.5rem;
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  justify-content: space-between; }
  .notifications__notification {
    cursor: pointer; }
    .notifications__notification:hover span {
      color: #5f98cd; }

.notification {
  flex-basis: 33.3%; }
  .notification__date {
    display: flex;
    flex-direction: row;
    align-items: center; }
    .notification__date__dot {
      display: inline-block;
      width: 0.7rem;
      height: 0.7rem;
      background-color: white;
      border-radius: 50%;
      border: 3px solid #5f98cd; }
    .notification__date__date {
      display: inline-block;
      text-transform: capitalize;
      margin-left: 0.7rem;
      color: #666666;
      font-size: 0.7rem;
      font-weight: 500; }
  .notification__text {
    margin-left: 0.25rem;
    padding-left: 1rem;
    border-left: 3px solid #ebebeb;
    height: 75%;
    overflow: hidden; }

.challenge-5 {
  position: relative;
  font-family: "Open Sans", sans-serif;
  background-color: #4cb6de;
  border-radius: 0.3rem;
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  padding: 2rem;
  justify-content: flex-end; }

.quotes {
  font-family: "Calistoga", cursive;
  color: rgba(255, 255, 255, 0.22);
  font-size: 10rem;
  position: absolute;
  top: 3rem;
  margin-left: -1.5rem; }

.explanation {
  top: 4.7rem;
  opacity: 0;
  position: absolute;
  display: block;
  width: 18rem;
  height: fit-content;
  background-color: #3b6e87;
  box-shadow: 1px 2px 10px 0px rgba(0, 0, 0, 0.3);
  border: 5px ridged white;
  margin-left: 2rem; }
  .explanation__word {
    background-color: #3b6e87;
    padding: 0.3rem;
    cursor: pointer; }
    .explanation__word:hover ~ span {
      transition-property: opacity;
      transition-duration: 500ms;
      opacity: 1; }
  .explanation__header {
    display: block;
    background-color: white;
    width: 100%;
    height: auto;
    color: #3b6e87;
    font-size: 1rem;
    padding: 0.3rem 0.3rem 0.3rem 1rem;
    line-height: normal; }
  .explanation__body {
    display: block;
    padding: 1rem;
    font-size: 0.8rem;
    color: white;
    line-height: normal; }

.tip {
  position: absolute;
  display: block;
  width: 1px;
  height: 20px;
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  border-top: 10px solid #3b6e87; }

.challenge-6 {
  position: relative;
  width: 100%;
  height: 100%;
  overflow: hidden;
  transition: all 1.5s ease; }

.overlay {
  position: absolute;
  z-index: 100;
  top: 0;
  width: 100%;
  height: 100%; }
  .overlay__background {
    position: relative;
    transition: top 1s ease;
    width: 100%;
    height: 45%;
    top: -45%;
    background-image: url(https://100dayscss.com/codepen/13-1-header.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    z-index: 101; }
  .overlay__top {
    position: relative;
    transition: top 1.5s ease-out;
    padding: 0.7rem;
    width: 100%;
    height: 45%;
    top: 0;
    display: flex;
    justify-content: flex-end;
    z-index: 102; }
    .overlay__top__photo {
      position: relative;
      z-index: 103;
      width: 7.5rem;
      height: 7.5rem;
      margin-top: 7rem;
      margin-right: 22%;
      border-radius: 50%;
      border: 2px solid white;
      box-shadow: 1px 2px 10px 0px rgba(0, 0, 0, 0.3); }
  .overlay__bottom {
    transition: bottom 1s ease;
    position: relative;
    background-color: #ec6565;
    width: 100%;
    bottom: 45%;
    height: 55%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2rem; }
  .overlay_hidden {
    visibility: hidden; }
  .overlay_hidden .overlay__top {
    transition: all 700ms ease;
    top: -100%; }
  .overlay_hidden .overlay__background {
    transition: all 1s ease;
    top: -100%; }
  .overlay_hidden .overlay__bottom {
    transition: all 1s ease;
    bottom: -100%; }

.circles {
  position: relative;
  display: flex;
  width: 70%;
  justify-content: space-evenly;
  place-self: center; }
  .circles__circle {
    width: 3rem;
    height: 3rem;
    border: 1px solid white;
    border-radius: 50%;
    background-color: transparent;
    transition: all 400ms ease;
    cursor: pointer; }
    .circles__circle__square {
      width: 0.8rem;
      height: 0.8rem;
      display: inline-block;
      position: relative;
      margin-left: 38%;
      margin-top: 38%;
      background-color: transparent;
      border: 2px solid white; }
    .circles__circle:hover {
      background-color: white; }
      .circles__circle:hover span {
        border: 2px solid #ec6565; }

.challenge-7 {
  position: relative;
  display: grid;
  place-items: center;
  width: 100%;
  height: 100%;
  overflow: hidden; }
  .challenge-7__dot {
    position: absolute;
    z-index: 99;
    top: 12.05rem;
    left: 7.99rem;
    width: 2.4rem;
    height: 2.4rem;
    background-color: white;
    border-radius: 50%;
    transition: all 1s ease; }
  .challenge-7__background {
    width: 300%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background: #925eb1;
    background: linear-gradient(90deg, #925eb1 0%, #925eb1 33.3%, #5097d5 33.3%, #5097d5 66.6%, #57b99d 66.6%, #57b99d 99.9%);
    transition: all 1s ease; }
  .challenge-7:has(#radio2:checked) .challenge-7__dot {
    transform: translateX(169%); }
  .challenge-7:has(#radio2:checked) .challenge-7__background {
    transform: translateX(-33.3%); }
  .challenge-7:has(#radio3:checked) .challenge-7__dot {
    transform: translateX(339%); }
  .challenge-7:has(#radio3:checked) .challenge-7__background {
    transform: translateX(-66.6%); }

.color-picker {
  position: relative;
  width: 42%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 99; }
  .color-picker__label {
    cursor: pointer;
    background-color: transparent;
    width: 3rem;
    height: 3rem;
    border: 2px solid white;
    border-radius: 2px solid white;
    border-radius: 50%; }
    .color-picker__label input {
      visibility: hidden;
      width: 3rem;
      height: 3rem;
      z-index: 999; }

.challenge-8 {
  width: 100%;
  height: 100%;
  background: #28404e;
  background: linear-gradient(172deg, #28404e 35%, #1c2e38 99%);
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  padding: 3rem;
  font-family: "Open Sans", sans-serif; }
  .challenge-8__headers {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; }
  .challenge-8__circles {
    width: 60%;
    display: flex;
    flex-direction: row;
    justify-content: space-between; }

.progress-circle {
  position: relative;
  width: 7rem;
  height: 7rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center; }
  .progress-circle__inner {
    width: 4rem;
    height: 4rem;
    border-radius: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center; }
    .progress-circle__inner_small {
      width: 3rem;
      height: 3rem; }
      .progress-circle__inner_small > h3 {
        font-size: 130%;
        line-height: 100%; }
  .progress-circle__outer {
    padding: 0.5rem;
    width: 6rem;
    height: 6rem;
    border-radius: 50%;
    border: 0.5rem solid #1b2a33; }
    .progress-circle__outer_small {
      width: 5rem;
      height: 5rem; }
  .progress-circle svg {
    position: absolute;
    top: 0;
    left: 0;
    rotate: -90deg; }
  .progress-circle circle {
    fill: none;
    stroke: #20bd93;
    stroke-width: 0.5rem;
    stroke-dasharray: 330;
    stroke-dashoffset: 120; }
  .progress-circle_small {
    width: 5rem;
    height: 5rem; }
    .progress-circle_small svg {
      position: absolute;
      top: -0.5rem;
      left: 0;
      rotate: -90deg; }
    .progress-circle_small circle {
      fill: none;
      stroke: #5ce1ec;
      stroke-width: 0.5rem;
      stroke-dasharray: 330; }

#circle2 {
  stroke-dashoffset: 180; }

#circle3 {
  stroke-dashoffset: 240; }

.challenge-9 {
  font-family: "Open Sans", sans-serif;
  background-color: #cad6e0;
  width: 100%;
  height: 100%;
  display: grid;
  place-items: center; }

@keyframes fadein {
  from {
    opacity: 0;
    transform: scale(0.9); }
  to {
    opacity: 1;
    transform: scale(1); } }

@keyframes fadeout {
  from {
    opacity: 0;
    transform: scale(0.9); }
  to {
    opacity: 1;
    transform: scale(1); } }

.active {
  animation: fadein 600ms ease-in-out both 500ms; }

.inactive {
  animation: fadeout 600ms ease-in-out both 500ms; }

.challenge-10 {
  width: 100%;
  height: 100%;
  background: #f6ca53;
  background: linear-gradient(220deg, #f6ca53 45%, #e69d47 99%);
  display: grid;
  font-family: "Open Sans", sans-serif; }

.todo__item {
  display: block;
  position: relative;
  font-size: 0.8rem;
  color: #52707f;
  cursor: pointer;
  width: 100%; }
  .todo__item:has(:checked) {
    color: #cad6e0; }
  .todo__item:has(:checked) .todo__item__checkmark {
    color: #cad6e0;
    border: none;
    background-image: url("https://res.cloudinary.com/kreiva/image/upload/v1655102840/DevJobsApp/icon-check_b1gwus.svg");
    background-size: contain;
    background-repeat: no-repeat; }
  .todo__item__label {
    cursor: pointer; }
  .todo__item__checkbox {
    cursor: pointer;
    position: absolute;
    right: 0;
    opacity: 0; }
  .todo__item__checkmark {
    position: absolute;
    right: 0;
    width: 1rem;
    height: 1rem;
    border-radius: 50%;
    background-color: white;
    border: 1px solid #52707f; }
