*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html,
body {
  height: 100%; }

body {
  box-sizing: border-box;
  /* 62%=10px=1rem */
  font-size: 62.5%;
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
  background-color: white; }

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%; }

input,
button,
textarea,
select {
  font: inherit; }

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word; }

.container {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 2rem 5rem; }

.wrapper {
  display: block;
  width: 430px;
  height: 400px;
  background-color: white;
  padding: 3px;
  border-radius: 0.3rem;
  box-shadow: 1px 2px 10px 0px rgba(0, 0, 0, 0.3);
  margin: 2rem;
  overflow: hidden; }

.card {
  margin: auto;
  position: relative;
  display: flex;
  flex-direction: row;
  width: 80%;
  height: 75%;
  background-color: white;
  border-radius: 0.3rem;
  box-shadow: 12px 10px 10px 0px rgba(0, 0, 0, 0.2);
  z-index: 99; }
  .card_column {
    flex-direction: column; }
  .card__left {
    display: flex;
    flex-direction: column;
    width: 65%;
    height: 100%;
    align-items: center;
    justify-content: center; }
  .card__right {
    border-top-right-radius: 0.3rem;
    border-bottom-right-radius: 0.3rem;
    width: 35%;
    background-color: #f3e8e0; }
  .card__header {
    width: 100%;
    height: 20%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 0.3rem 1.5rem;
    background-color: #5f98cd;
    border-radius: 0.3rem 0.3rem 0 0; }
  .card_blue {
    position: absolute;
    flex-direction: column;
    width: 15rem;
    height: 17rem;
    background-color: #4a627b;
    border-radius: 0.3rem;
    box-shadow: 12px 10px 10px 0px rgba(0, 0, 0, 0.2);
    z-index: 4;
    top: 4rem;
    margin-left: 2.5rem; }

.header_white {
  text-transform: uppercase;
  line-height: 3rem;
  color: white; }
  .header_white_big {
    padding-left: 1rem;
    font-size: 4rem;
    letter-spacing: 0.4rem; }
  .header_white_medium {
    padding-left: 0.5rem;
    font-size: 1.4rem;
    font-weight: 100; }
  .header_white_smaller {
    font-size: 1rem; }
  .header_white_small {
    font-size: 1rem;
    text-transform: capitalize;
    font-weight: 500; }

.header_dark-gray {
  color: #666666;
  font-size: 0.8rem;
  font-weight: 600;
  text-transform: capitalize; }
  .header_dark-gray_light {
    font-weight: 400;
    font-size: 0.8rem;
    color: #666666; }

.header_brown {
  color: #756553;
  text-transform: capitalize; }
  .header_brown_medium {
    font-weight: 700;
    font-size: 1.2rem; }
  .header_brown_small {
    font-weight: 700;
    font-size: 1rem; }
  .header_brown_mini {
    font-size: 0.8rem;
    font-weight: 300; }

.header_blue {
  color: #5f98cd;
  text-transform: capitalize;
  font-size: 0.8rem;
  font-weight: 500; }

.nav {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  height: 100%; }
  .nav__row {
    width: 100%;
    height: 2.5rem;
    list-style: none;
    padding-left: 1rem;
    cursor: pointer;
    display: flex;
    align-items: center;
    transition: all 200ms ease-in; }
    .nav__row:hover {
      background-color: #264057; }
    .nav__row__square {
      position: relative;
      display: inline-block;
      width: 0.6rem;
      height: 0.6rem;
      background-color: transparent;
      border: 2px solid #5f98cd;
      margin-right: 1rem; }

.btn__container {
  margin-top: 1.4rem; }

.btn_brown {
  background-color: white;
  color: #756553;
  border: 1px solid #756553;
  border-radius: 1rem;
  padding: 0.2rem 1.8rem;
  font-size: 0.8rem;
  font-weight: 700;
  margin: 0.3rem 2rem;
  width: 9rem; }
  .btn_brown:hover {
    background-color: #756553;
    color: white; }

.btn_add {
  position: absolute;
  left: 40%;
  top: 40%;
  display: block;
  background-color: #ec6565;
  width: 3rem;
  height: 3rem;
  border-radius: 50%;
  color: white;
  font-size: 1.9rem;
  text-align: center; }

.photo__wrapper {
  width: 100%;
  height: 100%;
  display: flex;
  flex-wrap: wrap;
  background-color: red; }
  .photo__wrapper__box {
    position: relative;
    flex-basis: 50%;
    background-color: green; }
    .photo__wrapper__box:hover {
      cursor: pointer;
      background-color: black; }

.photo_square {
  width: 100%;
  height: 100%;
  min-width: 100%;
  min-height: 100%;
  display: none;
  box-shadow: inset 2px yellow; }

.photo_circle {
  z-index: 99;
  border-style: solid;
  border-width: 1px;
  padding: 2px;
  border-color: #756553 #756553 #756553 white;
  border-radius: 50%;
  margin-bottom: 1rem; }
  .photo_circle_background {
    position: absolute;
    z-index: 2;
    top: 1.96rem;
    width: 4.8rem;
    height: 4.8rem;
    border-radius: 50%;
    background-color: white;
    border-style: solid;
    border-width: 1px;
    border-color: #756553 white #756553 #756553; }

.checkbox input {
  cursor: pointer;
  position: absolute;
  right: 1.5rem;
  opacity: 0;
  height: 1rem;
  width: 1rem; }

.checkbox__checkmark {
  display: inline-block;
  height: 1.1rem;
  width: 1.1rem;
  background-color: #5f98cd;
  border: 2.7px solid #b2daff; }

.checkbox:hover input ~ .checkbox__checkmark {
  transition: all 200ms;
  border: 2.7px solid white; }

.checkbox:has(input:checked) ~ label {
  transition: all 200ms ease-in;
  left: 2.8rem;
  opacity: 0; }

.search-bar {
  position: relative;
  z-index: 99;
  width: 16rem;
  border-radius: 3rem;
  background-color: white;
  border: none;
  outline: none;
  padding: 0.3rem 1rem 0.3rem 1rem;
  color: #666666;
  font-size: 0.8rem; }
  .search-bar__label {
    transition: all 200ms ease-in;
    position: absolute;
    opacity: 100;
    top: 0.9rem;
    left: 1rem; }

.text_white {
  color: white;
  font-size: 1.4rem;
  font-weight: 400;
  line-height: 2.2rem; }

.hidden {
  display: none; }

.shift {
  transition: all 500ms ease-in-out;
  transform: translateX(10rem); }

.challenge-1 {
  font-family: "Calistoga", cursive;
  background: #423d99;
  background: linear-gradient(36deg, #423d99 0%, #6fc2c8 85%);
  border-radius: 0.3rem;
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  position: relative;
  justify-content: center;
  align-items: center; }

.number-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-bottom: 1rem; }
  .number-container__one {
    z-index: 99;
    display: block;
    width: 1.7rem;
    height: 6rem;
    background-color: white;
    box-shadow: 1px 2px 10px 0px rgba(0, 0, 0, 0.3);
    border-radius: 0.15rem; }
    .number-container__one:nth-child(1) {
      transform: rotate(48deg);
      height: 3rem;
      width: 1.5rem;
      margin-right: -0.4rem; }
  .number-container__zero {
    display: block;
    width: 6rem;
    height: 6rem;
    border-radius: 3rem;
    background-color: rgba(255, 255, 255, 0);
    border: 1.6rem solid white;
    box-shadow: 1px 2px 10px 0px rgba(0, 0, 0, 0.3);
    margin-left: -1.1rem;
    z-index: 55; }
    .number-container__zero_second {
      z-index: 5; }

.challenge-2 {
  position: relative;
  background: #60ad85;
  border-radius: 0.3rem;
  height: 100%;
  width: 100%;
  display: grid;
  place-content: center; }

.menu-burger {
  cursor: pointer; }
  .menu-burger__2 {
    position: relative;
    top: -0.3rem; }
    .menu-burger__2:hover {
      background-color: white; }
    .menu-burger__2:hover::before, .menu-burger__2:hover::after {
      background-color: white; }
    .menu-burger__2, .menu-burger__2::before, .menu-burger__2::after {
      cursor: pointer;
      background-color: #b2daff;
      height: 0.22rem;
      width: 1.5rem;
      border-radius: 0.3rem; }
    .menu-burger__2::before, .menu-burger__2::after {
      content: '';
      position: absolute;
      left: 0; }
    .menu-burger__2::before {
      width: 0.4rem;
      height: 0.4rem;
      top: -0.1rem;
      left: 1.7rem; }
    .menu-burger__2::after {
      top: 0.7rem;
      width: 2.1rem; }
  .menu-burger__3__checkbox {
    display: none; }
  .menu-burger__3__lines {
    position: relative;
    cursor: pointer; }
    .menu-burger__3__lines, .menu-burger__3__lines::before, .menu-burger__3__lines::after {
      background-color: white;
      height: 0.5rem;
      width: 5rem;
      border-radius: 0.3rem;
      box-shadow: 1px 2px 10px 0px rgba(0, 0, 0, 0.3);
      display: inline-block; }
    .menu-burger__3__lines::before, .menu-burger__3__lines::after {
      content: '';
      position: absolute;
      left: 0; }
    .menu-burger__3__lines::before {
      top: -1.4rem; }
    .menu-burger__3__lines::after {
      top: 1.4rem; }
  .menu-burger__3__checkbox:checked + .menu-burger__3__button .menu-burger__3__lines {
    transition-property: background-color, box-shadow;
    transition-duration: 300ms;
    background-color: transparent;
    box-shadow: none; }
  .menu-burger__3__checkbox:checked + .menu-burger__3__button .menu-burger__3__lines:before {
    transition: top 300ms ease-in-out, transform 300ms ease-in 400ms;
    top: 0;
    transform: rotate(45deg); }
  .menu-burger__3__checkbox:checked + .menu-burger__3__button .menu-burger__3__lines:after {
    transition: top 300ms ease-in-out, transform 300ms ease-in 400ms;
    top: 0;
    transform: rotate(135deg); }
  .menu-burger__3__checkbox:not(:checked) + .menu-burger__3__button .menu-burger__3__lines {
    transition: background-color 400ms ease-in 200ms, box-shadow 400ms ease-in 200ms;
    background-color: white;
    box-shadow: 1px 2px 10px 0px rgba(0, 0, 0, 0.3); }
  .menu-burger__3__checkbox:not(:checked) + .menu-burger__3__button .menu-burger__3__lines:before {
    transition: transform 300ms ease-in, top 300ms ease-in-out 300ms;
    transform: rotate(0);
    top: -1.4rem; }
  .menu-burger__3__checkbox:not(:checked) + .menu-burger__3__button .menu-burger__3__lines::after {
    transition: transform 300ms ease-in, top 300ms ease-in-out 300ms;
    transform: rotate(0);
    top: 1.4rem; }

.challenge-3 {
  font-family: "Open Sans", sans-serif;
  background: #e6be77;
  background: linear-gradient(36deg, #e6be77 0%, #c18157 85%);
  border-radius: 0.3rem;
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column; }

.block_brown {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 33.33%;
  border-bottom: 1px solid white; }
  .block_brown:nth-child(3) {
    border: none; }
  .block_brown:hover {
    transition: 300ms ease-in;
    background-color: rgba(145, 124, 101, 0.241); }

.challenge-4 {
  position: relative;
  font-family: "Open Sans", sans-serif;
  background-color: #264057;
  border-radius: 0.3rem;
  height: 100%;
  width: 100%;
  display: flex; }

.notifications {
  position: relative;
  padding: 1.5rem 1.5rem 0 1.5rem;
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  justify-content: space-between; }
  .notifications__notification {
    cursor: pointer; }
    .notifications__notification:hover span {
      color: #5f98cd; }

.notification {
  flex-basis: 33.3%; }
  .notification__date {
    display: flex;
    flex-direction: row;
    align-items: center; }
    .notification__date__dot {
      display: inline-block;
      width: 0.7rem;
      height: 0.7rem;
      background-color: white;
      border-radius: 50%;
      border: 3px solid #5f98cd; }
    .notification__date__date {
      display: inline-block;
      text-transform: capitalize;
      margin-left: 0.7rem;
      color: #666666;
      font-size: 0.7rem;
      font-weight: 500; }
  .notification__text {
    margin-left: 0.25rem;
    padding-left: 1rem;
    border-left: 3px solid #ebebeb;
    height: 75%;
    overflow: hidden; }

.challenge-5 {
  position: relative;
  font-family: "Open Sans", sans-serif;
  background-color: #4cb6de;
  border-radius: 0.3rem;
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  padding: 2rem;
  justify-content: flex-end; }

.quotes {
  font-family: "Calistoga", cursive;
  color: rgba(255, 255, 255, 0.22);
  font-size: 10rem;
  position: absolute;
  top: 1.5rem;
  margin-left: -1.5rem; }

.explanation {
  top: 2.8rem;
  opacity: 0;
  position: absolute;
  display: block;
  width: 18rem;
  height: fit-content;
  background-color: #3b6e87;
  box-shadow: 1px 2px 10px 0px rgba(0, 0, 0, 0.3);
  border: 5px ridged white;
  margin-left: 2rem; }
  .explanation__word {
    background-color: #3b6e87;
    padding: 0.3rem;
    cursor: pointer; }
    .explanation__word:hover ~ span {
      transition-property: opacity;
      transition-duration: 500ms;
      opacity: 100; }
  .explanation__header {
    display: block;
    background-color: white;
    width: 100%;
    height: auto;
    color: #3b6e87;
    font-size: 1rem;
    padding: 0.3rem 0.3rem 0.3rem 1rem;
    line-height: normal; }
  .explanation__body {
    display: block;
    padding: 1rem;
    font-size: 0.8rem;
    color: white;
    line-height: normal; }

.tip {
  position: absolute;
  display: block;
  width: 1px;
  height: 20px;
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  border-top: 10px solid #3b6e87; }

.challenge-6 {
  width: 100%;
  height: 100%;
  position: relative; }
