// VARIABLES
$color-white: white;
$color-black: rgba(255, 255, 255, 0);
$color-blue-violet: rgb(66, 61, 153);
$color-blue-electric: rgb(111, 194, 200);
$color-blue-very-dark: rgb(38, 64, 87);
$color-blue: rgb(95, 152, 205);
$color-green-electric: rgb(96, 173, 133);
$color-yellow-pale: rgb(230, 190, 119);
$color-yellow-orangy: rgb(193, 129, 87);
$color-brown-pale: rgb(117, 101, 83);
$color-brown-pale-very-light: rgb(243, 232, 224);

$border-radius-round: 50%;
$border-radius-very-big: 3rem;
$border-radius-medium: 1rem;
$border-radius-small: 0.3rem;
$border-radius-very-small: 0.15rem;

$box-shadow-medium: 1px 2px 10px 0px rgba(0, 0, 0, 0.03);
$box-shadow-stronger: 12px 10px 10px 0px rgba(0, 0, 0, 0.2);

$font-family-calistoga: 'Calistoga', cursive;
$font-family-opensans: 'Open Sans', sans-serif;

$font-size-huge: 4rem;
$font-size-medium: 1.4rem;
$font-size-small: 1.2rem;
$font-size-very-small: 1rem;
$font-size-very-very-small: 0.8rem;

$font-weight-very-heavy: 700;
$font-weight-heavy: 600;
$font-weight-medium: 500;
$font-weight-light: 400;
$font-weight-very-light: 300;
$font-weight-lightest: 100;

$margin-bottom-big: 3rem;
$margin-bottom-medium: 2rem;
$margin-bottom-small: 1rem;

// CLEANUP
*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

html,
body {
    height: 100%;
}

body {
    box-sizing: border-box;
    /* 62%=10px=1rem */
    font-size: 62.5%;
    line-height: 1.5;
    /* text rendering */
    -webkit-font-smoothing: antialiased;
    background-color: #f4f6f6;
}
img,
picture,
video,
canvas,
svg {
    display: block;
    max-width: 100%;
}
input,
button,
textarea,
select {
    font: inherit;
}
p,
h1,
h2,
h3,
h4,
h5,
h6 {
    overflow-wrap: break-word;
}

// CONTAINERS
.container {
    width: 100vw;
    height: 100vh;
    padding: 3rem;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
}
.wrapper {
    display: block;
    width: 430px;
    height: 400px;
    background-color: $color-white;
    padding: 3px;
    border-radius: $border-radius-small;
    box-shadow: v$box-shadow-medium;
}

// CHALLENGE1
.challenge-1 {
    font-family: $font-family-calistoga;
    background: $color-blue-violet;
    background: linear-gradient(36deg, $color-blue-violet 0%, $color-blue-electric 85%);
    border-radius: $border-radius-small;
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    position: relative;
    justify-content: center;
    align-items: center;
}

.header {
    &_white {
        text-transform: uppercase;
        line-height: 3rem;
        color: $color-white;

        &_big {
            padding-left: 1rem;
            font-size: $font-size-huge;
            letter-spacing: 0.4rem;
        }
        &_medium {
            padding-left: 0.5rem;
            font-size: $font-size-medium;
            font-weight: $font-weight-lightest;
        }
    }

    &_brown {
        color: $color-brown-pale;
        text-transform: capitalize;

        &_medium {
            font-weight: $font-weight-heavy;
            font-size: $font-size-small;
        }
        &_small {
            font-weight: $font-weight-very-heavy;
            font-size: $font-size-very-small;
        }
        &_mini {
            font-size: $font-size-very-very-small;
            font-weight: $font-weight-very-light;
        }
    }
}

.number-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-bottom: $margin-bottom-small;

    &__one {
        z-index: 99;
        display: block;
        width: 1.7rem;
        height: 6rem;
        background-color: $color-white;
        box-shadow: $box-shadow-medium;
        border-radius: $border-radius-very-small;

        &:nth-child(1) {
            transform: rotate(48deg);
            height: 3rem;
            width: 1.5rem;
            margin-right: -0.4rem;
        }
    }

    &__zero {
        display: block;
        width: 6rem;
        height: 6rem;
        border-radius: $border-radius-very-big;
        background-color: $color-black;
        border: 1.6rem solid white;
        box-shadow: $box-shadow-medium;
        margin-left: -1.1rem;
        z-index: 55;

        &_second {
            z-index: 5;
        }
    }
}

// CHALLENGE2
.challenge-2 {
    position: relative;
    background: $color-green-electric;
    border-radius: $border-radius-small;
    height: 100%;
    width: 100%;
    display: grid;
    place-content: center;
}

.menu-burger-3 {
    &__checkbox {
        display: none;
    }
    &__lines {
        position: relative;
        cursor: pointer;

        &,
        &::before,
        &::after {
            background-color: $color-white;
            height: 0.5rem;
            width: 5rem;
            border-radius: $border-radius-small;
            box-shadow: $box-shadow-medium;
            display: inline-block;
        }
        &::before,
        &::after {
            content: '';
            position: absolute;
            left: 0;
        }
        &::before {
            top: -1.4rem;
        }
        &::after {
            top: 1.4rem;
        }
    }

    &__checkbox:checked + &__button &__lines {
        transition-property: background-color, box-shadow;
        transition-duration: 300ms;
        background-color: transparent;
        box-shadow: none;
    }
    &__checkbox:checked + &__button &__lines:before {
        transition: top 300ms ease-in-out, transform 300ms ease-in 400ms;
        top: 0;
        transform: rotate(45deg);
    }
    &__checkbox:checked + &__button &__lines:after {
        transition: top 300ms ease-in-out, transform 300ms ease-in 400ms;
        top: 0;
        transform: rotate(135deg);
    }
    &__checkbox:not(:checked) + &__button &__lines {
        transition: background-color 400ms ease-in 200ms, box-shadow 400ms ease-in 200ms;
        background-color: $color-white;
        box-shadow: $box-shadow-medium;
    }
    &__checkbox:not(:checked) + &__button &__lines:before {
        transition: transform 300ms ease-in, top 300ms ease-in-out 300ms;
        transform: rotate(0);
        top: -1.4rem;
    }
    &__checkbox:not(:checked) + &__button &__lines::after {
        transition: transform 300ms ease-in, top 300ms ease-in-out 300ms;
        transform: rotate(0);
        top: 1.4rem;
    }
}

// CHALLENGE3
.challenge-3 {
    font-family: $font-family-opensans;
    background: $color-yellow-pale;
    background: linear-gradient(36deg, $color-yellow-pale 0%, $color-yellow-orangy 85%);
    border-radius: $border-radius-small;
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
}

.card {
    margin: auto;
    position: relative;
    display: flex;
    flex-direction: row;
    width: 80%;
    height: 75%;
    background-color: $color-white;
    border-radius: $border-radius-small;
    box-shadow: $box-shadow-stronger;

    &__left {
        display: flex;
        flex-direction: column;
        width: 65%;
        height: 100%;
        align-items: center;
        justify-content: center;
    }
    &__right {
        border-top-right-radius: $border-radius-small;
        border-bottom-right-radius: $border-radius-small;
        width: 35%;
        background-color: $color-brown-pale-very-light;
    }

    &__header {
        width: 100%;
        height: 20%;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        background-color: $color-blue;
        border-radius: 3px 3px 0 0;
    }
}

.photo {
    &_circle {
        z-index: 99;
        border-style: solid;
        border-width: 1px;
        padding: 2px;
        border-color: $color-brown-pale $color-brown-pale $color-brown-pale $color-white;
        border-radius: $border-radius-round;
        margin-bottom: $margin-bottom-small;

        &_background {
            position: absolute;
            z-index: 2;
            top: 2.03rem;
            width: 4.8rem;
            height: 4.8rem;
            border-radius: $border-radius-round;
            background-color: $color-white;
            border-style: solid;
            border-width: 1px;
            border-color: $color-brown-pale $color-white $color-brown-pale $color-brown-pale;
        }
    }
}

.btn {
    &__container {
        margin-top: 1.4rem;
    }
    &_brown {
        background-color: $color-white;
        color: $color-brown-pale;
        border: 1px solid $color-brown-pale;
        border-radius: $border-radius-medium;
        padding: 0.2rem 1.8rem;
        font-size: $font-size-very-very-small;
        font-weight: $font-weight-very-heavy;
        margin: 0.3rem 2rem;
        width: 9rem;

        &:hover {
            background-color: $color-brown-pale;
            color: $color-white;
        }
    }
}

.block_brown {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 33.33%;
    border-bottom: 1px solid $color-white;

    &:nth-child(3) {
        border: none;
    }
    &:hover {
        transition: 300ms ease-in;
        background-color: $color-brown-pale-very-light;
    }
}

/* CHALLENGE 4*/
.challenge-4 {
    font-family: $font-family-opensans;
    background-color: $color-blue-very-dark;
    border-radius: $border-radius-small;
    height: 100%;
    width: 100%;
    display: flex;
}
