// VARIABLES
$color-white: white;
$color-black: rgba(255, 255, 255, 0);
$color-blue-violet: rgb(66, 61, 153);
$color-blue-electric: rgb(111, 194, 200);
$color-blue-very-dark: rgb(38, 64, 87);
$color-blue-dark: rgb(59, 110, 135);
$color-blue: rgb(95, 152, 205);
$color-blue-darkened: rgb(88, 141, 191);
$color-blue-light: rgb(178, 218, 255);
$color-blue-grayish: rgb(74, 98, 123);
$color-blue-clear-light: rgb(76, 182, 222);
$color-blue-clear: rgb(80, 151, 213);
$color-blue-clear2: rgb(92, 225, 236);
$color-blue-grayish-light: #28404e;
$color-blue-grayish-dark: #1c2e38;
$color-blue-grayish-darkest: rgb(27, 42, 51);
$color-green-electric: rgb(96, 173, 133);
$color-yellow-pale: rgb(230, 190, 119);
$color-yellow-orangy: rgb(193, 129, 87);
$color-brown-pale: rgb(117, 101, 83);
$color-brown-pale-transparent: rgba(145, 124, 101, 0.241);
$color-brown-pale-very-light: rgb(243, 232, 224);
$color-gray-very-light: rgb(235, 235, 235);
$color-gray-clean-light: #8391a1;
$color-gray-light: rgb(102, 102, 102);
$color-gray-light-blueish: #cad6e0;
$color-red-salmon: rgb(236, 101, 101);
$color-purple: rgb(146, 94, 177);
$color-mint: rgb(87, 185, 157);
$color-mint2: #20bd93;

$border-radius-round: 50%;
$border-radius-very-big: 3rem;
$border-radius-medium: 1rem;
$border-radius-small: 0.3rem;
$border-radius-very-small: 0.15rem;

$box-shadow-centered: 1px 2px 10px 0px rgba(0, 0, 0, 0.3);
$box-shadow-centered-wider: 1px 10px 20px 0px rgba(0, 0, 0, 0.2);
$box-shadow-right-bottom: 12px 10px 10px 0px rgba(0, 0, 0, 0.2);
$box-shadow-glowing: 6px 6px 10px -1px rgba(0, 0, 0, 0.15), -6px, -6px 10px -1px rgba(255, 255, 255, 0.7);

$font-family-calistoga: 'Calistoga', cursive;
$font-family-opensans: 'Open Sans', sans-serif;

$font-size-very-huge: 10rem;
$font-size-huge: 4rem;
$font-size-very-big: 3rem;
$font-size-big: 1.9rem;
$font-size-medium: 1.4rem;
$font-size-small: 1.2rem;
$font-size-very-small: 1rem;
$font-size-very-very-small: 0.8rem;
$font-size-tiny: 0.7rem;

$font-weight-very-heavy: 700;
$font-weight-heavy: 600;
$font-weight-medium: 500;
$font-weight-light: 400;
$font-weight-very-light: 300;
$font-weight-lightest: 100;

$margin-bottom-big: 3rem;
$margin-bottom-medium: 2rem;
$margin-bottom-small: 1rem;

// CLEANUP
*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

html,
body {
    height: 100%;
}

body {
    box-sizing: border-box;
    /* 62%=10px=1rem */
    font-size: 62.5%;
    line-height: 1.5;
    -webkit-font-smoothing: antialiased;
    background-color: $color-white;
}
img,
picture,
video,
canvas,
svg {
    display: block;
    max-width: 100%;
}
input,
button,
textarea,
select {
    font: inherit;
}
p,
h1,
h2,
h3,
h4,
h5,
h6 {
    overflow-wrap: break-word;
}

// CONTAINERS
.container {
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 2rem 5rem;
}
.wrapper {
    display: block;
    width: 430px;
    height: 430px;
    background-color: $color-white;
    padding: 3px;
    border-radius: $border-radius-small;
    box-shadow: $box-shadow-centered;
    margin: 2rem;
    overflow: hidden;
}
.card {
    margin: auto;
    position: relative;
    display: flex;
    flex-direction: row;
    width: 80%;
    height: 75%;
    background-color: $color-white;
    border-radius: $border-radius-small;
    box-shadow: $box-shadow-centered;

    &_small {
        position: relative;
        display: flex;
        flex-direction: column;
        width: 60%;
        height: 35%;
        background-color: $color-white;
        border-radius: $border-radius-very-small;
        box-shadow: $box-shadow-centered-wider;
    }

    &_column {
        flex-direction: column;
    }

    &__left {
        display: flex;
        flex-direction: column;
        width: 65%;
        height: 100%;
        align-items: center;
        justify-content: center;
    }
    &__right {
        border-top-right-radius: $border-radius-small;
        border-bottom-right-radius: $border-radius-small;
        width: 35%;
        background-color: $color-brown-pale-very-light;
    }
    &__header {
        width: 100%;
        height: 20%;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        padding: 0.3rem 1.5rem;
        background-color: $color-blue;
        border-radius: $border-radius-small $border-radius-small 0 0;
    }
    &_blue {
        position: absolute;
        flex-direction: column;
        width: 15rem;
        height: 17rem;
        background-color: $color-blue-grayish;
        border-radius: $border-radius-small;
        box-shadow: $box-shadow-right-bottom;
        z-index: 4;
        top: 4rem;
        margin-left: 2.5rem;
    }
}

// COMPONENTS
.header {
    &_white {
        text-transform: uppercase;
        line-height: 3rem;
        color: $color-white;

        &_big {
            padding-left: 1rem;
            font-size: $font-size-huge;
            letter-spacing: 0.4rem;
        }
        &_big2 {
            font-size: $font-size-medium;
            line-height: normal;
        }
        &_big3 {
            font-size: $font-size-medium;
            font-weight: $font-weight-light;
            line-height: 1.5rem;
        }
        &_medium {
            padding-left: 0.5rem;
            font-size: $font-size-medium;
            font-weight: $font-weight-lightest;
        }
        &_medium2 {
            font-size: $font-size-very-small;
            font-weight: $font-weight-lightest;
            line-height: 0.9rem;
        }

        &_smaller {
            font-size: $font-size-very-small;
        }
        &_small {
            font-size: $font-size-very-small;
            text-transform: capitalize;
            font-weight: $font-weight-medium;
        }
        &_name {
            text-transform: capitalize;
            z-index: 99;
            font-family: $font-family-opensans;
            color: $color-white;
            font-size: $font-size-very-small;
            font-weight: $font-weight-heavy;
            place-self: center;
        }
    }
    &_progress_mint {
        color: $color-gray-very-light;
        opacity: 0.5;
        font-size: $font-size-very-small;
        font-weight: $font-weight-light;
        line-height: normal;
    }

    &_dark-gray {
        color: $color-gray-light;
        font-size: $font-size-very-very-small;
        font-weight: $font-weight-heavy;
        text-transform: capitalize;

        &_light {
            font-weight: $font-weight-light;
            font-size: $font-size-very-very-small;
            color: $color-gray-light;
        }
    }

    &_brown {
        color: $color-brown-pale;
        text-transform: capitalize;

        &_medium {
            font-weight: $font-weight-very-heavy;
            font-size: $font-size-small;
        }
        &_small {
            font-weight: $font-weight-very-heavy;
            font-size: $font-size-very-small;
        }
        &_mini {
            font-size: $font-size-very-very-small;
            font-weight: $font-weight-very-light;
        }
    }
    &_blue {
        color: $color-blue;
        text-transform: capitalize;
        font-size: $font-size-very-very-small;
        font-weight: $font-weight-medium;
    }
}
.nav {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    height: 100%;

    &__row {
        width: 100%;
        height: 2.5rem;
        list-style: none;
        padding-left: 1rem;
        cursor: pointer;
        display: flex;
        align-items: center;
        transition: all 200ms ease-in;

        &:hover {
            background-color: $color-blue-very-dark;
        }

        &__square {
            position: relative;
            display: inline-block;
            width: 0.6rem;
            height: 0.6rem;
            background-color: transparent;
            border: 2px solid $color-blue;
            margin-right: $margin-bottom-small;
        }
    }
}
.btn {
    &__container {
        margin-top: 1.4rem;
    }
    &_brown {
        background-color: $color-white;
        color: $color-brown-pale;
        border: 1px solid $color-brown-pale;
        border-radius: $border-radius-medium;
        padding: 0.2rem 1.8rem;
        font-size: $font-size-very-very-small;
        font-weight: $font-weight-very-heavy;
        margin: 0.3rem 2rem;
        width: 9rem;

        &:hover {
            background-color: $color-brown-pale;
            color: $color-white;
        }
    }

    &_add {
        display: block;
        background-color: $color-red-salmon;
        width: 6rem;
        height: 6rem;
        border-radius: $border-radius-round;
        color: $color-white;
        font-size: $font-size-very-big;
        text-align: center;
        border: none;
        box-shadow: $box-shadow-centered;
        cursor: pointer;
    }
    &__exit {
        display: block;
        background-color: $color-red-salmon;
        width: 3.3rem;
        height: 3.3rem;
        padding: 0.1rem;
        border-radius: $border-radius-round;
        color: $color-white;
        font-size: $font-size-big;
        text-align: center;
        border: none;
        cursor: pointer;
        transition: all 400ms ease;

        &:hover {
            background-color: $color-white;
            color: $color-red-salmon;
        }
    }
}
.photo {
    &__wrapper {
        width: 100%;
        height: 100%;
        display: flex;
        flex-wrap: wrap;

        &__box {
            transition: all 500ms ease;
            cursor: pointer;
            position: relative;
            flex-basis: 50%;
            border: 0.1rem solid $color-white;

            &:hover img {
                transition: all 600ms ease;
                filter: brightness(50%);
            }
            &:hover div {
                opacity: 1;
                transition: all 500ms ease-in-out;
                transform: scale(0.5);
            }
            &__overlay {
                transition: all 600ms ease;
                opacity: 0;
                position: absolute;
                display: grid;
                place-items: center;
                width: 100%;
                height: 100%;
                z-index: 99;
            }
        }
    }

    &_square {
        width: 100%;
        height: 100%;
        object-fit: cover;
        backface-visibility: hidden;
        z-index: 4;
    }

    &_circle {
        z-index: 99;
        border-style: solid;
        border-width: 1px;
        padding: 2px;
        border-color: $color-brown-pale $color-brown-pale $color-brown-pale $color-white;
        border-radius: $border-radius-round;
        margin-bottom: $margin-bottom-small;

        &_background {
            position: absolute;
            z-index: 2;
            top: 2.67rem;
            width: 4.8rem;
            height: 4.8rem;
            border-radius: $border-radius-round;
            background-color: $color-white;
            border-style: solid;
            border-width: 1px;
            border-color: $color-brown-pale $color-white $color-brown-pale $color-brown-pale;
        }
    }
}
.checkbox {
    & input {
        cursor: pointer;
        position: absolute;
        right: 1.5rem;
        opacity: 0;
        height: 1rem;
        width: 1rem;
    }
    &__checkmark {
        display: inline-block;
        height: 1.1rem;
        width: 1.1rem;
        background-color: $color-blue;
        border: 2.7px solid $color-blue-light;
    }
    &:hover input ~ &__checkmark {
        transition: all 200ms;
        border: 2.7px solid $color-white;
    }
}
.checkbox:has(input:checked) ~ label {
    transition: all 200ms ease-in;
    left: 2.8rem;
    opacity: 0;
}

.search-bar {
    position: relative;
    z-index: 99;
    width: 16rem;
    border-radius: $border-radius-very-big;
    background-color: $color-white;
    border: none;
    outline: none;
    padding: 0.3rem 1rem 0.3rem 1rem;
    color: $color-gray-light;
    font-size: $font-size-very-very-small;

    &__label {
        transition: all 200ms ease-in;
        position: absolute;
        opacity: 1;
        top: 0.9rem;
        left: 1rem;
    }
}
.text {
    &_white {
        color: $color-white;
        font-size: $font-size-medium;
        font-weight: $font-weight-light;
        line-height: 2.2rem;
    }
}

// STATE CLASSES
.hidden {
    display: none;
}

.shift {
    transition: all 500ms ease-in-out;
    transform: translateX(10rem);
}

// CHALLENGE1
.challenge-1 {
    font-family: $font-family-calistoga;
    background: $color-blue-violet;
    background: linear-gradient(36deg, $color-blue-violet 0%, $color-blue-electric 85%);
    border-radius: $border-radius-small;
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    position: relative;
    justify-content: center;
    align-items: center;
}

.number-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-bottom: $margin-bottom-small;

    &__one {
        z-index: 99;
        display: block;
        width: 1.7rem;
        height: 6rem;
        background-color: $color-white;
        box-shadow: $box-shadow-centered;
        border-radius: $border-radius-very-small;

        &:nth-child(1) {
            transform: rotate(48deg);
            height: 3rem;
            width: 1.5rem;
            margin-right: -0.4rem;
        }
    }

    &__zero {
        display: block;
        width: 6rem;
        height: 6rem;
        border-radius: $border-radius-very-big;
        background-color: $color-black;
        border: 1.6rem solid white;
        box-shadow: $box-shadow-centered;
        margin-left: -1.1rem;
        z-index: 55;

        &_second {
            z-index: 5;
        }
    }
}

// CHALLENGE2
.challenge-2 {
    position: relative;
    background: $color-green-electric;
    border-radius: $border-radius-small;
    height: 100%;
    width: 100%;
    display: grid;
    place-content: center;
}

.menu-burger {
    cursor: pointer;

    &__2 {
        position: relative;
        top: -0.3rem;

        &:hover {
            background-color: $color-white;
        }
        &:hover::before,
        &:hover::after {
            background-color: $color-white;
        }

        &,
        &::before,
        &::after {
            cursor: pointer;
            background-color: $color-blue-light;
            height: 0.22rem;
            width: 1.5rem;
            border-radius: $border-radius-small;
        }
        &::before,
        &::after {
            content: '';
            position: absolute;
            left: 0;
        }
        &::before {
            width: 0.4rem;
            height: 0.4rem;
            top: -0.1rem;
            left: 1.7rem;
        }
        &::after {
            top: 0.7rem;
            width: 2.1rem;
        }
    }

    &__3 {
        &__checkbox {
            display: none;
        }
        &__lines {
            position: relative;
            cursor: pointer;

            &,
            &::before,
            &::after {
                background-color: $color-white;
                height: 0.5rem;
                width: 5rem;
                border-radius: $border-radius-small;
                box-shadow: $box-shadow-centered;
                display: inline-block;
            }
            &::before,
            &::after {
                content: '';
                position: absolute;
                left: 0;
            }
            &::before {
                top: -1.4rem;
            }
            &::after {
                top: 1.4rem;
            }
        }

        &__checkbox:checked + &__button &__lines {
            transition-property: background-color, box-shadow;
            transition-duration: 300ms;
            background-color: transparent;
            box-shadow: none;
        }
        &__checkbox:checked + &__button &__lines:before {
            transition: top 300ms ease-in-out, transform 300ms ease-in 400ms;
            top: 0;
            transform: rotate(45deg);
        }
        &__checkbox:checked + &__button &__lines:after {
            transition: top 300ms ease-in-out, transform 300ms ease-in 400ms;
            top: 0;
            transform: rotate(135deg);
        }
        &__checkbox:not(:checked) + &__button &__lines {
            transition: background-color 400ms ease-in 200ms, box-shadow 400ms ease-in 200ms;
            background-color: $color-white;
            box-shadow: $box-shadow-centered;
        }
        &__checkbox:not(:checked) + &__button &__lines:before {
            transition: transform 300ms ease-in, top 300ms ease-in-out 300ms;
            transform: rotate(0);
            top: -1.4rem;
        }
        &__checkbox:not(:checked) + &__button &__lines::after {
            transition: transform 300ms ease-in, top 300ms ease-in-out 300ms;
            transform: rotate(0);
            top: 1.4rem;
        }
    }
}

// CHALLENGE3
.challenge-3 {
    font-family: $font-family-opensans;
    background: $color-yellow-pale;
    background: linear-gradient(36deg, $color-yellow-pale 0%, $color-yellow-orangy 85%);
    border-radius: $border-radius-small;
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
}

.block_brown {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 33.33%;
    border-bottom: 1px solid $color-white;

    &:nth-child(3) {
        border: none;
    }
    &:hover {
        transition: 300ms ease-in;
        background-color: $color-brown-pale-transparent;
    }
}

// CHALLENGE-4

.challenge-4 {
    position: relative;
    font-family: $font-family-opensans;
    background-color: $color-blue-very-dark;
    border-radius: $border-radius-small;
    height: 100%;
    width: 100%;
    display: flex;
}

.notifications {
    position: relative;
    padding: 1.5rem 1.5rem 0 1.5rem;
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    justify-content: space-between;

    &__notification {
        cursor: pointer;

        &:hover span {
            color: $color-blue;
        }
    }
}

.notification {
    flex-basis: 33.3%;

    &__date {
        display: flex;
        flex-direction: row;
        align-items: center;

        &__dot {
            display: inline-block;
            width: 0.7rem;
            height: 0.7rem;
            background-color: $color-white;
            border-radius: $border-radius-round;
            border: 3px solid $color-blue;
        }
        &__date {
            display: inline-block;
            text-transform: capitalize;
            margin-left: 0.7rem;
            color: $color-gray-light;
            font-size: $font-size-tiny;
            font-weight: $font-weight-medium;
        }
    }
    &__text {
        margin-left: 0.25rem;
        padding-left: 1rem;
        border-left: 3px solid $color-gray-very-light;
        height: 75%;
        overflow: hidden;
    }
}

// CHALLENGE-5
.challenge-5 {
    position: relative;
    font-family: $font-family-opensans;
    background-color: $color-blue-clear-light;
    border-radius: $border-radius-small;
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    padding: 2rem;
    justify-content: flex-end;
}
.quotes {
    font-family: $font-family-calistoga;
    color: rgba(255, 255, 255, 0.22);
    font-size: $font-size-very-huge;
    position: absolute;
    top: 3rem;
    margin-left: -1.5rem;
}

.explanation {
    top: 4.7rem;
    opacity: 0;
    position: absolute;
    display: block;
    width: 18rem;
    height: fit-content;
    background-color: $color-blue-dark;
    box-shadow: $box-shadow-centered;
    border: 5px ridged white;
    margin-left: 2rem;

    &__word {
        background-color: $color-blue-dark;
        padding: 0.3rem;
        cursor: pointer;

        &:hover ~ span {
            transition-property: opacity;
            transition-duration: 500ms;
            opacity: 1;
        }
    }
    &__header {
        display: block;
        background-color: $color-white;
        width: 100%;
        height: auto;
        color: $color-blue-dark;
        font-size: $font-size-very-small;
        padding: 0.3rem 0.3rem 0.3rem 1rem;
        line-height: normal;
    }
    &__body {
        display: block;
        padding: 1rem;
        font-size: $font-size-very-very-small;
        color: $color-white;
        line-height: normal;
    }
}

.tip {
    position: absolute;
    display: block;
    width: 1px;
    height: 20px;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-top: 10px solid $color-blue-dark;
}

// CHALLENGE-6
.challenge-6 {
    position: relative;
    width: 100%;
    height: 100%;
    overflow: hidden;
    transition: all 1.5s ease;
}
.overlay {
    position: absolute;
    z-index: 100;
    top: 0;
    width: 100%;
    height: 100%;

    &__background {
        position: relative;
        transition: top 1s ease;
        width: 100%;
        height: 45%;
        top: -45%;
        background-image: url(https://100dayscss.com/codepen/13-1-header.jpg);
        background-repeat: no-repeat;
        background-size: cover;
        z-index: 101;
    }

    &__top {
        position: relative;
        transition: top 1.5s ease-out;
        padding: 0.7rem;
        width: 100%;
        height: 45%;
        top: 0;
        display: flex;
        justify-content: flex-end;
        z-index: 102;

        &__photo {
            position: relative;
            z-index: 103;
            width: 7.5rem;
            height: 7.5rem;
            margin-top: 7rem;
            margin-right: 22%;
            border-radius: $border-radius-round;
            border: 2px solid $color-white;
            box-shadow: $box-shadow-centered;
        }
    }

    &__bottom {
        transition: bottom 1s ease;
        position: relative;
        background-color: $color-red-salmon;
        width: 100%;
        bottom: 45%;
        height: 55%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 2rem;
    }
    &_hidden {
        visibility: hidden;
    }
    &_hidden &__top {
        transition: all 700ms ease;
        top: -100%;
    }
    &_hidden &__background {
        transition: all 1s ease;
        top: -100%;
    }
    &_hidden &__bottom {
        transition: all 1s ease;
        bottom: -100%;
    }
}

.circles {
    position: relative;
    display: flex;
    width: 70%;
    justify-content: space-evenly;
    place-self: center;

    &__circle {
        width: 3rem;
        height: 3rem;
        border: 1px solid $color-white;
        border-radius: $border-radius-round;
        background-color: transparent;
        transition: all 400ms ease;
        cursor: pointer;

        &__square {
            width: 0.8rem;
            height: 0.8rem;
            display: inline-block;
            position: relative;
            margin-left: 38%;
            margin-top: 38%;
            background-color: transparent;
            border: 2px solid $color-white;
        }

        &:hover {
            background-color: $color-white;

            & span {
                border: 2px solid $color-red-salmon;
            }
        }
    }
}

// CHALLENGE-7
.challenge-7 {
    position: relative;
    display: grid;
    place-items: center;
    width: 100%;
    height: 100%;
    overflow: hidden;

    &__dot {
        position: absolute;
        z-index: 99;
        top: 12.05rem;
        left: 7.99rem;
        width: 2.4rem;
        height: 2.4rem;
        background-color: $color-white;
        border-radius: $border-radius-round;
        transition: all 1s ease;
    }

    &__background {
        width: 300%;
        height: 100%;
        position: absolute;
        top: 0;
        left: 0;
        background: $color-purple;
        background: linear-gradient(
            90deg,
            $color-purple 0%,
            $color-purple 33.3%,
            $color-blue-clear 33.3%,
            $color-blue-clear 66.6%,
            $color-mint 66.6%,
            $color-mint 99.9%
        );
        transition: all 1s ease;
    }
    &:has(#radio2:checked) &__dot {
        transform: translateX(169%);
    }
    &:has(#radio2:checked) &__background {
        transform: translateX(-33.3%);
    }
    &:has(#radio3:checked) &__dot {
        transform: translateX(339%);
    }
    &:has(#radio3:checked) &__background {
        transform: translateX(-66.6%);
    }
}

.color-picker {
    position: relative;
    width: 42%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 99;

    &__label {
        cursor: pointer;
        background-color: transparent;
        width: 3rem;
        height: 3rem;
        border: 2px solid $color-white;
        border-radius: 2px solid $color-white;
        border-radius: $border-radius-round;

        & input {
            visibility: hidden;
            width: 3rem;
            height: 3rem;
            z-index: 999;
        }
    }
}

// CHALLENGE-8
.challenge-8 {
    width: 100%;
    height: 100%;
    background: rgb(40, 64, 78);
    background: linear-gradient(172deg, rgba(40, 64, 78, 1) 35%, rgba(28, 46, 56, 1) 99%);
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    padding: 3rem;
    font-family: $font-family-opensans;

    &__headers {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    &__circles {
        width: 60%;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }
}
.progress-circle {
    position: relative;
    width: 7rem;
    height: 7rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    &__inner {
        width: 4rem;
        height: 4rem;
        border-radius: $border-radius-round;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;

        &_small {
            width: 3rem;
            height: 3rem;

            & > h3 {
                font-size: 130%;
                line-height: 100%;
            }
        }
    }
    &__outer {
        padding: 0.5rem;
        width: 6rem;
        height: 6rem;
        border-radius: $border-radius-round;
        border: 0.5rem solid $color-blue-grayish-darkest;
        &_small {
            width: 5rem;
            height: 5rem;
        }
    }
    & svg {
        position: absolute;
        top: 0;
        left: 0;
        rotate: -90deg;
    }
    & circle {
        fill: none;
        stroke: $color-mint2;
        stroke-width: 0.5rem;
        stroke-dasharray: 330;
        stroke-dashoffset: 120;
    }
    &_small {
        width: 5rem;
        height: 5rem;

        & svg {
            position: absolute;
            top: -0.5rem;
            left: 0;
            rotate: -90deg;
        }
        & circle {
            fill: none;
            stroke: $color-blue-clear2;
            stroke-width: 0.5rem;
            stroke-dasharray: 330;
        }
    }
}
#circle2 {
    stroke-dashoffset: 180;
}
#circle3 {
    stroke-dashoffset: 240;
}

// CHALLNEGE-9
.challenge-9 {
    background-color: $color-gray-light-blueish;
    width: 100%;
    height: 100%;
    display: grid;
    place-items: center;
}
