/* CLEANUP */
*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

html,
body {
    height: 100%;
}

body {
    box-sizing: border-box;
    /* 62%=10px=1rem */
    font-size: 62.5%;
    line-height: 1.5;
    /* text rendering */
    -webkit-font-smoothing: antialiased;
    background-color: #f4f6f6;
}
img,
picture,
video,
canvas,
svg {
    display: block;
    max-width: 100%;
}
input,
button,
textarea,
select {
    font: inherit;
}
p,
h1,
h2,
h3,
h4,
h5,
h6 {
    overflow-wrap: break-word;
}

/* STYLE */
.wrapper {
    display: block;
    width: 430px;
    height: 400px;
    background-color: white;
    padding: 3px;
    border-radius: 3px;
    margin: 60px auto 30px auto;
    box-shadow: 1px 2px 10px 0px rgba(0, 0, 0, 0.03);
}

.challenge-1 {
    font-family: 'Calistoga', cursive;
    background: rgb(66, 61, 153);
    background: linear-gradient(36deg, rgba(66, 61, 153, 1) 0%, rgba(111, 194, 200, 1) 85%);
    border-radius: 3px;
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    position: relative;
    justify-content: center;
    align-items: center;
}

.header {
    color: white;
    text-transform: uppercase;
    line-height: 3rem;
}

.header_big {
    padding-left: 1rem;
    font-size: 4rem;
    letter-spacing: 0.4rem;
}

.header_medium {
    padding-left: 0.5rem;
    font-size: 1.4rem;
    font-weight: 100;
}

.number-container {
    display: flex;
    flex-direction: row;
    margin-bottom: 1rem;
    justify-content: center;
}
.one {
    z-index: 99;
    display: block;
    width: 1.7rem;
    height: 6rem;
    background-color: white;
    box-shadow: 1px 2px 10px 0px rgba(0, 0, 0, 0.3);
    border-radius: 0.15rem;
}
.one:nth-child(1) {
    transform: rotate(48deg);
    height: 3rem;
    width: 1.5rem;
    margin-right: -0.4rem;
}
.zero {
    display: block;
    width: 6rem;
    height: 6rem;
    border-radius: 3rem;
    background-color: rgba(255, 255, 255, 0);
    border: 1.6rem solid white;
    box-shadow: 1px 2px 10px 0px rgba(0, 0, 0, 0.3);
    margin-left: -1.1rem;
    z-index: 55;
}

.zero_second {
    z-index: 5;
}

/* CHALLENGE-2 */
.challenge-2 {
    position: relative;
    background: rgb(96, 173, 133);
    border-radius: 3px;
    height: 100%;
    width: 100%;
    display: grid;
    place-content: center;
}
.menu__checkbox {
    display: none;
}
.menu__lines {
    position: relative;
    cursor: pointer;
}
.menu__lines,
.menu__lines::before,
.menu__lines::after {
    background-color: white;
    height: 0.5rem;
    width: 5rem;
    border-radius: 3px;
    box-shadow: 1px 2px 10px 0px rgba(0, 0, 0, 0.3);
    display: inline-block;
}
.menu__lines::before,
.menu__lines::after {
    content: '';
    position: absolute;
    left: 0;
}
.menu__lines::before {
    top: -1.4rem;
}
.menu__lines::after {
    top: 1.4rem;
}

/* .menu__checkbox:hover + .menu__button .menu__lines {
    box-shadow: none;
    transition-property: background-color;
    transition-duration: 600ms;
    background-color: transparent;
}
.menu__checkbox:hover + .menu__button .menu__lines:before {
    transition-property: top;
    transition-duration: 500ms;
    top: 0;
}
.menu__checkbox:hover + .menu__button .menu__lines:after {
    transition-property: top;
    transition-duration: 500ms;
    top: 0;
}
.menu__checkbox:checked + .menu__button .menu__lines:before {
    transform: rotate(135deg) 1s ease-in;
}
.menu__checkbox:checked + .menu__button .menu__lines:after {
    transform: rotate(-135deg) 1s ease-in;
} */

.menu__checkbox:checked + .menu__button .menu__lines {
    transition-property: background-color, box-shadow;
    transition-duration: 300ms;
    background-color: transparent;
    box-shadow: none;
}
.menu__checkbox:checked + .menu__button .menu__lines:before {
    transition: top 300ms ease-in-out, transform 300ms ease-in 400ms;
    top: 0;
    transform: rotate(45deg);
}
.menu__checkbox:checked + .menu__button .menu__lines::after {
    transition: top 300ms ease-in-out, transform 300ms ease-in 400ms;
    top: 0;
    transform: rotate(135deg);
}
